* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

body {
    line-height: 1.6;
    font-family: var(--ff-f);
    
}

:root {
    --ff-f: "Poppins", sans-serif;

    --fw-reg: 400;
    --fw-bold: 500;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

/* .parent {
    position: relative;
} */

.intro-textcontainer{
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  max-width: 722px;
}



.image {
    width: 444px;
    height: 444px;
  
}

.ellipse {
    height: 486px;
    width: 486px;
    background-color: #7562e0;
    border-radius: 50%;
}

@media (max-width: 800px) {
    .nav-laptop {
        display: none;
    }
    .home>.intro-textcontainer>.intro-text>h1{
      font-weight: var(--fw-reg);
      font-size:32px;
      color:white;
    }  
    
}
@media (min-width: 800px) {
    :root {
        --fs-h1: 4rem;
        --fs-h2: 3.755rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }

    .nav {
        display: none;
    }

    .nav-toggle {
        display: none;
    }

    .nav-linklaptop {
        text-decoration: none;
        color: #ffffff;
        padding-left: 1em;
        padding-right: 1em;
    }

    .nav-linklaptop:hover {
        color: #7562e0;
    }

    .nav--listlaptop {
        display: flex;
        justify-content: space-between;
    }
    .home{
      display:flex;
      justify-content: center;
      align-items: center;
    }
    .header{
      padding-top:1em;
    padding-bottom:1em;
    padding-right:6em;
    padding-left:6em;
    }
}
.intro-text{
  padding-bottom: 2em;
  padding-right: 2em;
  
}
.intro-text>h2{
  font-weight: var(--fw-bold);
  font-size:32px;
   color:white;
}

.intro-text>h1{
  font-weight: var(--fw-bold);
  font-size:58px;
  color:white;
}


.intro-text>p{
  font-weight: var(--fw-reg);
  font-size:18px;
  color:white;
}
.home{
  padding: 10px;
  background-color: #1A1A29;
}

html {
    scroll-behavior: smooth;
    
}

li {
    list-style-type: none;
}

.btn {
    display: inline-block;
    padding: 0.5em 2.5em;
    background: blue;
    color: red;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

.logo p {
    color: #7562e0;
}

header {
    background-color: #181824;
    display: flex;
    justify-content: space-between;
    padding-top:1em;
    padding-bottom:1em;
    padding-right:3em;
    padding-left:2em;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
}
.nav-link:hover {
    color: #7562e0;
}

.nav {
    position: fixed;
    background: #181824;
    color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%); /*move the nav bar right 0%*/
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
    height: max-content;
}

.nav-toggle {
    padding: 0.5em;
    background: transparent; /*to remove the background*/
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}
/*hamburger*/
.hamburger {
    background: #7562e0;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    display: block;
    position: relative;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background: #7562e0;
    width: 2em;
    border-radius: 1em;
    height: 3px;
    transition: transform 250ms ease-in-out;
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
}

.nav-open .nav {
    transform: translateX(0); /*when nav is clicked make the navbar fill page*/
}

.nav-open .hamburger {
    transform: rotate(0.625turn); /*for the x turning*/
}

.nav-open .hamburger::after {
    opacity: 0; /*for the x turning*/
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px); /*for the x turning*/
}
